body
{
    text-align: center;
    background-color: black;
}

#Navigation
{
    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
}

section h2
{
    text-decoration: underline;
}

footer
{
    width: 50%;
    margin-left: 25%;
    background-color: #777;
}

h1
{
    font-size: 500%;
}

h1,h2, p, small , li
{
    color: white;
}