body
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

h1
{
    font-size: 500%;
}

h1,h2, p, small , li, dt, dd
{
    color: white;
}

a 
{
    color: lightblue;
}

section h2
{
    text-decoration: underline;
}

#Navigation
{
    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
}

img.icon
{
    width: 16px;
    height: 16px;
}

footer
{
    text-align: center;
    background-color: #777;
}