body
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

h1
{
    font-size: 500%;
}

h1,h2, p, small , li, dt, dd
{
    color: white;
}

a 
{
    color: lightblue;
}

header, footer, section h2
{
   text-align: center;
}

section h2
{
    text-decoration: underline;
}

#Navigation
{
    text-align: left;
    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
}

img.icon
{
    width: 16px;
    height: 16px;
}

footer
{
    background-color: #777;
}

iframe
{
    width: 720px;
    height: 420px;
    border: 2px solid white;
}

/* Media Query for tablets */
@media only screen and (max-width:800px)
{
    iframe
    {
        align-content: center;
        width: 80%;
        height: 80%;
    }
}

/* Media Query for mobile devices */
@media only screen and (max-width:500px)
{
    iframe 
    {
        width: 100%;
        height: 100%;
    }
}